<!DOCTYPE html>
<html lang="en">
<head>
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src ="script/one.js"></script>
    <title>Login Page</title>

    <style>
        #main-container{
            text-align: center
        }

        ul{
            display: inline;
            
        }
        .submit{
            margin-left: -200px;
        }
        .padding{
            margin-left: -10px;
        }
        .bottom{
            margin-left: -18px;
        }
       
    </style>
</head>
<body>

    <div id="main-container">
        <h1 style="margin-left: -170px;">Login</h1>
             <div>
                <label for="">User Name:</label>
                <input type="text" placeholder="username" id ="t1">
            </div>
        <br>
            <div class="padding">
                <label for="">Password:</label>
                <input type="password" placeholder="password" id = "t2">
            </div>
            <br>
            <div class="bottom">
                <input type="checkbox">Remember Me &nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank" >Forgot Password</a>
            </div>
            <br>
            <div class="submit">
                <input type="submit" value="Submit" id = "b1">
            </div></div>
     
</body>
</html>